# Ignore all files starting with . except .gitignore
.*
~*
!.gitignore

# Ignore compressed/packaged files
*.7z
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Ignore anything compiled
*.dll
*.exe

# Ignore logs, databases etc
*.log
*.sqlite
*.db

# Ignore text editor files
*.sublime-project
*.sublime-workspace
*.komodoproject
.vscode/*
*.code-workspace
