.title {
    position: absolute;
    width: 513px;
    height: 93px;
    left: 181px;
    top: 0px;
    font-size: 100px;
    color: lightskyblue;
    font-family: "Roboto", serif;
}

.reports {
    position: absolute;
    width: 513px;
    height: 93px;
    left: 10px;
    top: 250px;
    font-size: 25px;
    color: black;
    font-family: "Roboto", serif;
}

.title2{
    position: absolute;
    width: 513px;
    height: 93px;
    left: 375px;
    top: 300px;
    font-size: 45px;
    color: black;
    font-family: "Roboto", serif;
}

.accusations {
    position: absolute;
    width: 513px;
    height: 93px;
    left: 250px;
    top: 450px;
    text-align: center;
    font-size: 40px;
    color: black;
    font-family: "Roboto", serif;
}

.approve {
    position: absolute;
    width: 225px;
    height: 3000px;
    left: 137px;
    top: 780px;
    padding: 0px 16px;
    display: block;
}

.reject {
    position: absolute;
    width: 225px;
    height: 3000px;
    left: 837px;
    top: 780px;
    padding: 0px 16px;
    display: block;
}