html {
    font-family: "Roboto", serif;
}

.title {
    position: absolute;
    width: 513px;
    height: 93px;
    left: 725px;
    top: 0px;
    font-size: 100px;
}

.reports {
    position: absolute;
    width: 513px;
    height: 93px;
    left: 100px;
    top: 250px;
    font-size: 25px;
}

.title2{
    position: absolute;
    width: 513px;
    height: 93px;
    left: 850px;
    top: 300px;
    font-size: 45px;
}

.accusations {
    position: absolute;
    width: 513px;
    height: 93px;
    left: 735px;
    top: 450px;
    text-align: center;
    font-size: 40px;
}

.approve {
    position: absolute;
    width: 225px;
    height: 3000px;
    left: 437px;
    top: 780px;
    padding: 0px 16px;
    display: block;
}

.reject {
    position: absolute;
    width: 2225px;
    height: 3000px;
    left: 1200px;
    top: 780px;
    padding: 0px 16px;
    display: block;
}

.auditpage-logo {
    position: absolute;
    width: 200px;
    height: 240px;
    left: 1600px;
    top: 25px;
}