.companypage-companyName {
    position: absolute;
    width: 513px;
    height: 93px;
    left: 181px;
    top: 97px;
}

.companypage-logo {
    position: absolute;
    width: 58px;
    height: 69px;
}

.signup-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 16px;

    position: absolute;
    width: 125px;
    height: 55px;
    left: 1282px;
    top: 16px;

    color: black;
    text-decoration-line: none;
    background: #FFFFFF;
    border: 1px solid #6B97D9;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
}

.login-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 16px;

    position: absolute;
    width: 125px;
    height: 55px;
    left: 1137px;
    top: 16px;

    color: black;
    text-decoration-line: none;
    background: #6B97D9;
    border: 1px solid #6B97D9;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
}

.companypage-overallrating {
    position: absolute;
    width: 155px;
    height: 28px;
    left: 1111px;
    top: 611px;
    margin-bottom:160px !important;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: #000000;
}

.dot {
    position: absolute;
    width: 172px;
    height: 172px;
    left: 1103px;
    top: 665px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 172px;
    border-radius: 50%;
    text-align: center;

    color: #FFFFFF;
    background: #CD3838;
}

.companypage-poor {
    position: absolute;
    width: 95px;
    height: 49px;
    left: 1141px;
    top: 847px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;

    color: #000000;
}

.companypage-co2contributions {
    position: absolute;
    width: 206px;
    height: 33px;
    left: 210px;
    top: 622px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: #000000;
}

.companypage-line {
    position: absolute;
    width: 500px;
    height: 200.5px;
    left: 56px;
    top: 699px;

    border: 1px solid #000000;
}

.companypage-positiveactions {
    position: absolute;
    width: 173px;
    height: 30px;
    left: 117px;
    top: 280px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    border: blue;
    color: #000000;
}

.outline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 16px;

    position: absolute;
    width: 300px;
    height: 300px;
    left: 54px;
    top: 258px;

    background: #FFFFFF;
    border: 1px solid #6B97D9;
    box-sizing: border-box;
    border-radius: 4px;
    outline-style: solid; 
    outline-color:#6B97D9;
}

.outline2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 16px;

    position: absolute;
    width: 300px;
    height: 300px;
    left: 544px;
    top: 270px;

    background: #FFFFFF;
    border: 1px solid #6B97D9;
    box-sizing: border-box;
    border-radius: 4px;
    outline-style: solid; 
    outline-color:#6B97D9;
}

.news-outline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 16px;

    position: absolute;
    width: 300px;
    height: 300px;
    left: 1034px;
    top: 270px;

    background: #FFFFFF;
    border: 1px solid #6B97D9;
    box-sizing: border-box;
    border-radius: 4px;
    outline-style: solid; 
    outline-color:#6B97D9;
}

.co2-outline {
    position: absolute;
    width: 790px;
    height: 302px;
    left: 54px;
    top: 599px;
}


.companypage-negativeactions {
    position: absolute;
    width: 184px;
    height: 38px;
    left: 602px;
    top: 280px;

    -family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: #000000;
}

.companypage-news {
    position: absolute;
    width: 66px;
    height: 28px;
    left: 1151px;
    top: 280px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: #000000;
}

.companypage-positiveaction-shield {
    position: absolute;
    width: 26px;
    height: 26px;
    left: 299px;
    top: 305px;
}

.companypage-negativeaction-shield {
    position: absolute;
    width: 26px;
    height: 26px;
    left: 780px;
    top: 305px;
}

.companypage-news-shield {
    position: absolute;
    width: 26px;
    height: 26px;
    left: 1232px;
    top: 305px;
}

.companypage-c02-shield {
    position: absolute;
    width: 26px;
    height: 26px;
    left: 400px;
    top: 650px;
}

.companypage-overallrating-shield {
    position: absolute;
    width: 26px;
    height: 26px;
    left: 1266px;
    top: 635px;
}